@media only screen and (max-width: 1024px) {
    .card {
            width: 100%;
            border: 3px dashed #949444;
            padding: 30px;
            display: table;
    }

    .bt-30 {
        padding-bottom: 30px;
    }

    .table {
        display: none;
    }
    
}   

@media only screen and (min-width: 1025px) {
    .card {
            display: none;
    }

    .table {
        display: table;
    }
    
}   